@import 'variables';
@import 'libs/normalize';
@import 'chat';

body {
	background: $body-color;
}
.SignUp {
	border-radius: 20px;
	h1 {
		color: white;
		text-transform: uppercase;
		font-weight: 500;
	}
	background: $form-color;
	margin: 0 auto;
	padding: 25px;
	margin-top: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	&>*:not(:last-child) {
		margin-bottom: 25px;
		text-align: center;
	}
	&__firstname, &__lastname, &__username, &__password, &__button  {
		background: none;
		color: white;
		border: 0;
		border: 2px solid #3498db;
		padding: 14px 10px;
		width: 200px;
		border-radius: 24px;
		transition: all 0.25s ease-in-out;
		&:focus:not(:last-child) {
			width: 280px;
			border-color: #2ecc71;
		}
	}
	&__button {
		cursor: pointer;
		width: 150px;
		border: 2px solid #2ecc71;
		&:hover {
			background: #2ecc71;
		}
	}
}
.app_non-validate::after {
	content: "Длинны входных данных не более 10 символов";
	display: block;
	font-size: 15px;
	color: firebrick;
	text-transform: lowercase;
}



